/* css stylesheet hintergrundbild startseite*/

img.startbild {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.startbild {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


a {
 outline: 0;
 color: #353f40; /*dunkelgrau*/
 font-weight: 400;
}

a:link,
a:visited{
  text-decoration: none;
  color: #353f40; /*dunkelgrau*/
  background-color: transparent;
}


a:hover,
a:focus,
a:active{ 
  outline: 0;
  text-decoration: none;
  color: #fff; 
  background-color: transparent;
}



/* css stylesheet bauernhof peu girard*/
body{
  -webkit-hyphens:auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 16px;
  font-family: "jaf-bernino-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #353f40; /*dunkelgrau*/
}


h1{
  font-family: 'Amatic SC', cursive;
  font-size: 2.1em;
  letter-spacing: 0.15em;
  font-weight: 400;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  letter-spacing: 0.15em;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 1em 0;
}


.clearfix:after { 
 content: " ";
 display: block; 
 height: 0; 
 clear: both;
}

span{
  font-weight: 400;
}

/* navigation */

nav{
  z-index: 10000;
  position: fixed;
  width: 100%;
  font-size: 1.6em;
  letter-spacing: 0.1em;   
  font-family: 'Amatic SC', cursive;
  top: 0;

  /*   background: #447A9B; nicht durchsichtig*/
  background: rgba(68, 122, 155, 0.85); /*weniger durchsichtig  */  
  -webkit-hyphens:none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.25em;
}

@media (max-width: 1125px) {
  nav {
    font-size: 1.4em;
    line-height: 1.5em;

  }
}

@media (max-width: 992px) {
  nav {
   font-size: 1.2em;
   line-height: 1.4em;
 }
}

@media (max-width: 768px) {
  nav {
   font-size: 1.2em;
 }
}



.logo a{
  height: 90px;
}


@media (max-width:768px) {
  .logo a {
   font-size: 0.65em;
 }
}


.logo p {
  font-family: "jaf-bernino-sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 0.7em;
  line-height: 50px;
  display: inline-block;
  position: fixed;
  margin: 0;
  left: 130px;
  z-index: 2;
  color: white;
  line-height: 90px;  
}

.logo img{
  position: fixed;
  top:10px;
  left: 10px;
  height: 100px;
  width: 100px;
  display: inline-block;
  transform: rotate(-5deg);
}



@media (max-width: 1125px) {
 .logo img{
   display: inline-block;
   margin: 0 2px;
   height: 90px;
 }
}

.logo 
a:link,
a:visited{
  text-decoration: none;
}

.logo
a:hover,
a:focus,
a:active{ 
  outline: 0;
  text-decoration: none;
  color: #fff; 
}


.menu{
  text-align: right;
  margin: 0;
  padding: 0;

}

.menu li{
  list-style: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  float: right;
  font-family: "Amatic SC";
  font-weight: 700;
}




li a{
  display: inline-block;
  width: 150px;
  font-weight: 700;
}

@media (max-width: 1125px) {
  li a{
    width: 130px; 
    display: inline-block;
    font-weight: 700;}
  }


  @media (max-width: 992px) {
    li a{
      width: 100px; 
      display: inline-block;
      font-weight: 700;}
    }

    @media (max-width: 768px) {
      li a{
        width: 80px; 
        display: inline-block;
        font-weight: 700;}
      }


      .first_nav a{
        color: #bf86a7; /*purple*/
        height: 90px;
        padding: 10px 0;
      }

      .active_nav.first_nav a{
        background-color: #bf86a7; /*purple*/
        color: #013b41; /*dunkelgrau*/
      }

      .second_nav a{
        color: #e29a71; /*orange*/
        height: 90px;
        padding: 10px 0;
      }

      .active_nav.second_nav a{
        background-color: #e29a71; /*orange*/
        color: #013b41; /*dunkelgrau*/
      }

      .third_nav a{
        color: #d9c27a; /*yellow*/
        height: 90px;
        padding: 10px 0;
      }

      .active_nav.third_nav a{
        background-color: #d9c27a; /*yellow*/
        color: #013b41; /*dunkelgrau*/
      }


      .forth_nav a{
        color: #76b061; /*green*/
        line-height: 90px;
      }

      .active_nav.forth_nav a{
        background-color: #7ab066; /*green*/
        color: #013b41; /*dunkelgrau*/
      }

      .fifth_nav a{
        color: #35a69f; /*blue*/
        line-height: 90px;
      }

      .active_nav.fifth_nav a{
        background-color: #35a69f; /*blue*/
        color: #013b41; /*dunkelgrau*/
      }


      li 
      a:link,
      a:visited{
        text-decoration: none;
      }

      .first_nav
      a:hover,
      a:focus,
      a:active{ 
        outline: 0;
        text-decoration: none;
        background-color: #bf86a7; /*purple*/
        color: #013b41; /*dunkelgrau*/
      }

      .second_nav
      a:hover,
      a:focus,
      a:active{ 
        outline: 0;
        text-decoration: none;
        background-color: #e29a71; /*orange*/
        color: #013b41; /*dunkelgrau*/
      }

      .third_nav
      a:hover,
      a:focus,
      a:active{ 
        outline: 0;
        text-decoration: none;
        background-color: #d9c27a; /*yellow*/
        color: #013b41; /*dunkelgrau*/
      }

      .forth_nav
      a:hover,
      a:focus,
      a:active{ 
        outline: 0;
        text-decoration: none;
        background-color: #76b061; /*green*/
        color: #013b41; /*dunkelgrau*/
      }

      .fifth_nav
      a:hover,
      a:focus,
      a:active{ 
        outline: 0;
        text-decoration: none;
        background-color: #35a69f; /*blue*/
        color: #013b41; /*dunkelgrau*/
      }


      /*language*/
      a.language{
       position: fixed;
       right: 30px;
       top: 110px;
       font-family: "jaf-bernino-sans", sans-serif;
       font-weight: 300;
       color: #fff;
       letter-spacing: 0.1em;
       text-align: center;
       font-size: 0.7em;
       background-color: #447A9B;
       padding: 7px;
       border-radius: 3px

      }

      a.language:hover{
        background-color: #2d719b;
      }


      /* startseite */
      .willkommen {
       position:fixed;
       bottom:0;
       width:100%;
       color: #fff;
       line-height: 100px;
     }

      .willkommen a{
       color: #fff;
     }

      .willkommen a h1:hover{
       background: rgba(217, 194, 122, 0.85); 
     }

     .willkommen h1{
      background: rgba(217, 194, 122, 0.8); 
      text-align: center;
    }

    /* general text style */

    .textfeld{
      margin-top: 200px;
      margin-bottom: 50px;
      line-height: 1.5;
      border-radius: 3px;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .block{
      padding: 25px 0;
      margin: 0 30px;
    }

    .block p{
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      display: inline;
    }

    .block img{
      display: inline-block;
      padding: 0;
      border-radius: 5px;
    }

    .block img:nth-child(2){
      margin-right: 30px;

    }


    .img_rechts img {
      float: right;
      margin: 0 0 15px 30px;
    }

    .text_links {
      padding: 0;
    }

    .img_links{
      float: left;
      margin-right: 30px;
    }

    .text_block p{
      display: block;
      margin-bottom: 20px;
    }

    .text_block{
      padding: 0;
    }

    .important_text{
      background: rgba(226, 218, 213, 0.95); 
      border-radius: 5px;
      padding: 20px;
      overflow: hidden;
      margin: 20px 0;
    }


    .important_text ul{
      padding: 0;
      margin: 0;
    }

    .important_text li{
      padding: 4px 0;
      list-style: none;    
    }

    .reservieren{
      background: rgba(84, 100, 102, 0.85); /*grau*/
      color: #fff;
      border-radius: 5px;
      clear: both;
      padding: 20px;
    }

    /* über uns */

    .ueber_uns{
      background: rgba(191, 182, 187, 0.95);  
    }


    .ueber_uns img:nth-child(3){
      float: right;
    }

    .ueber_uns p:nth-child(3){
      float: right;
    }

    .ueber_uns a.btn{
      background-color: #bf86a7; /*purple*/
      color: #fff;
      text-align: center;
      line-height: 40px;
      padding: 13px;
      border-radius: 3px;
      font-weight: 300;
      float: right;
      line-height: 1.2;
    }

    .ueber_uns a:hover.btn,
    .ueber_uns a:focus.btn {
      background-color: #bf669a; /*link-purple*/
      color: #fff; /*dunkelblau*/
      text-decoration: none;
    }


    /* ferien */
    .ferien{
      background: rgba(226, 198, 182, 0.95);  
    }


    .ferien a.btn{
      background-color: #e29a71; /*orange*/
      color: #fff;
      text-align: center;
      line-height: 40px;
      padding: 13px;
      border-radius: 3px;
      font-weight: 300;
      float: right;
      line-height: 1.2;
      margin-top: 3em;
      font-weight: 400;
    }

    .ferien a:hover.btn,
    .ferien a:focus.btn{
      background-color: #e28d5b; /*link-orange*/
      color: #fff; 
      text-decoration: none;
    }


    /* produkte */
    .produkte{
      background: rgba(239, 230, 201, 0.95);  
    }


    .produkte .important_text{
      background: rgba(217, 194, 122, 0.95); 
      border-radius: 5px;
      padding: 15px;
      overflow: hidden;
      margin: 20px 20px 0 0;
      display: inline-block;
      float: right;
    }

    .spezialitaeten{
      font-size: 2.3em;
      padding-bottom: 0px;
      text-decoration: underline;
    }


    .produkte .btn  a{
      background-color: #d9c27a; /*gelb*/
      color: #fff;
      text-align: center;
      line-height: 40px;
      padding: 13px;
      border-radius: 3px;
      font-weight: 300;
      float: right;
      line-height: 1.2;
      margin-top: 3em;
      font-weight: 400;
    }

    .produkte .btn a:hover,
    .produkte .btn a:focus {
      background-color: #d9bc62; /*link-gelb*/
      color: #fff; /*dunkelblau*/
      text-decoration: none;
    }

    .produkte ul{
     padding-left: 15px;
   }

   /* bilder */
   .bilder{
    background: rgba(185, 201, 184, 0.95);  
  }


  .bilder img{
    border-radius: 0;
  }
  
  .nivo-controlNav img{
    margin-bottom: 6px;
    margin-right: 6px

    
  }

  /* kontakt */
  .kontakt{
    background: rgba(174, 204, 202, 0.95);  
  }

  .adresse a{
    font-weight: 300;
  }

  .karte{
    height: 400px;
  }

  .kontakt li a{
    font-weight: 300;
    width: 100%;
  }

  .kontakt ul{
   padding-left: 15px;
 }

}





